@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --font-sans: 'Roboto', sans-serif;
  --font-heading: 'Century Gothic', sans-serif;
  --color-primary: #455737;
  --color-secondary: #9cc57b;
  --color-accent: #78985f;
  --color-text-heading: #112337;
  --color-text-default: #112337;
  --color-bg-page: #f8f9fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  color: var(--color-text-default);
  background-color: var(--color-bg-page);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  color: var(--color-text-heading);
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
